$ct_blue: #45a2da;
$ct_gray: #848484;

// .container {
//   width:auto;
//   padding-left: 30px;
//   padding-right: 30px;
//   margin: 0 auto;
// }

body  {
  color: black;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header li a:hover{
  box-shadow: inset 0 3px 0 0 $ct_blue;
  color: $ct_blue;
}

header li{
  display: inline-block;
}

footer li{
  display: inline-block;
}

header li a{
  color: black;
}

h1, h2, h3, h4 {
  color: $ct_blue;
}

h2, h3, h4 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
}

a{
  color: black;
}

footer a{
  color: white;
}

.address, footer p {
    color: $ct_gray;
}
footer {
  background-color: black;
  border-top: 1px solid rgba(0,0,0,0.085);
  box-shadow: inset 0 1px 0 0 rgba(255,255,255, 0.8);
}

footer img {
  padding-top: 10px;
  padding-bottom: 0px;
}

body{
  background: white;
}

article p {
  color: $ct_gray;
}

a {
  text-decoration: none;
}
.alt-link {
  background-color: black;
}

.alt-link a{
  color: white;
}

nav{
  float:right;
}
